.prising {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 26px;
	@include tablet {
		grid-template-columns: 1fr;
	}

		&__item {
			background: var(--services-bg);
			border-radius: 12px;
			padding: 32px;
			display: grid;
			gap: 14px;
		}

		&__title {
            color: var(--c-text-white);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            text-transform: uppercase;
		}

		&__price {
			color: var(--c-text-white);
			font-size: 44px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			text-transform: uppercase;
		}

		&__desc {
			max-width: 299px;
			color: var(--c-text-secondary);
			font-size: 14px;
			line-height: 160%;
			padding-bottom: 35px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.15);
		}

		&__list {
			display: flex;
			align-items: center;
			gap: 14px;
		}
}
.prising-section__btn {
	margin-top: 35px;
	max-width: 128px;
	margin-bottom: 35px;
	border: 1px solid var(--c-primary);

		&:hover {
			background: var(--c-primary);
	}
}

.box__list {
	display: grid;
	gap: 14px;
}

.list-text {
	color: #A19A8B;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
